a:link, a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	background-color: #ffffff;
}

a:active, a:hover {
	color: rgb(46, 41, 119);
}
	
h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	text-align: center;
	background-color: #4aaaa5;
}


h2{
	color:#4aaaa5;
	font-family: Georgia, 'Times New Roman', Times, serif	
}

p {
	color:#777777;
	font-family: Arial, Helvetica, sans-serif;
}

.container-2{
	background-color: darkgray;
}

.header-1{
	width:500px;
	display:flex;
	margin-top: 30px
}

.header-2{
	width:500px;
	display:flex;
	justify-content: flex-end;
	margin-top: 30px
}

.flex-1{
	display: flex;
	flex-direction: row;
	
	
}

.links-1, .links-2, .links-3{
	margin: 30px
}


.body-1{
	width: 650px;
	background-color:white;
	border: 2px	solid gray;
}

.body-2{
	width: 270px;
	background-color:white;
	margin-top: -1px;
	margin-left: 40px;
	border: 2px solid gray;
	text-align: center
}

.flex-2{
	display: flex;
	flex-direction: row;
	width: 960px;
	
	
}

img {
	float: left;	
}


.body-3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

.container-3 {
    border-radius: 5px;
    background-color: #ffffff;
	padding: 20px;
}

.flex-3{
	display: flex;
	flex-direction: row;
	width: 960px;
}

.body-3{
	width: 650px;
	background-color:white;
	border: 1px solid gray;

}
	